:root {
  --primaryWhite: #fdfffc;
  --primaryBlue: #003559;
  --primaryLightBlue: #38a3a5;
  --primaryRed: #fb4d3d;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--primaryWhite);
}

/* Header Styling */
.header--container {
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.header--container > a {
  display: block;
  margin: 0;
  font-size: 1.5em;
  color: var(--primaryBlue);
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  font-size: 1.6em;
}

/* Form Styling */
.add-container {
  padding-top: 30px;
}

.add-container > h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.25em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.contact-form label {
  display: inline-block;
  width: 90px;
}

.contact-form input {
  text-indent: 3px;
}
.contact-form button {
  margin-top: 30px;
  width: 300px;
  padding: 8px;
  background-color: var(--primaryBlue);
  color: var(--primaryWhite);
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

/* Contact List Styling */
.contact--list {
  padding: 30px;
}

.contact--list > a {
  text-decoration: none;
  background-color: var(--primaryBlue);
  color: var(--primaryWhite);
  padding: 5px;
  display: block;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  border-radius: 50px;
}

.contact--container {
  display: flex;
  flex-direction: column;
}

.contact--container > a {
  text-decoration: none;
  color: black;
  cursor: default;
}

.contact--card {
  display: flex;
  margin-top: 20px;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
  height: 50px;
}

.contact--card > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-right: auto;
}

.contact--image {
  width: 30px;
}

.contact--info {
  margin-left: 20px;
}

.contact--name {
  font-size: 1em;
  font-weight: 600;
  margin: 10px 0 0 0;
}

.contact--email {
  font-size: 0.8em;
  font-weight: 500;
  margin-top: 3px;
}

.contact--delete {
  background-color: var(--primaryRed);
  color: var(--primaryWhite);
  border: none;
  border-radius: 10px;
  padding: 5px;
  cursor: pointer;
}

/* Contact Details Styling */
.details--container > a {
  display: block;
  text-decoration: none;
  color: var(--primaryWhite);
  background-color: var(--primaryBlue);
  width: 150px;
  padding: 10px;
  margin: 30px auto;
  text-align: center;
  border-radius: 5px;
}

.details--card {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  padding: 50px;
  border: 1px solid var(--primaryBlue);
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.2);
}

.details--card > img {
  width: 100px;
}

.details--card > h4 {
  margin: 30px 0 0 0;
  font-size: 1.2em;
  font-weight: 700;
}

.details--card > p {
  margin: 10px 0 0 0;
}
