:root {
  --primaryWhite: #fdfffc;
  --primaryBlue: #003559;
  --primaryLightBlue: #38a3a5;
  --primaryRed: #fb4d3d;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: var(--primaryWhite);
}

/* Header Styling */
.header--container {
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.header--container > a {
  display: block;
  margin: 0;
  font-size: 1.5em;
  color: var(--primaryBlue);
  text-decoration: none;
  font-weight: 600;
  text-align: center;
  font-size: 1.6em;
}

/* Form Styling */
.add-container {
  padding-top: 30px;
}

.add-container > h2 {
  text-align: center;
  font-weight: 600;
  font-size: 1.25em;
}

.contact-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}

.contact-form label {
  display: inline-block;
  width: 90px;
}

.contact-form input {
  text-indent: 3px;
}
.contact-form button {
  margin-top: 30px;
  width: 300px;
  padding: 4px;
  background-color: var(--primaryRed);
  border: 2px solid var(--primaryBlue);
  color: var(--primaryWhite);
  border-radius: 3px;
}

/* Contact List Styling */
.contact--list {
  padding: 30px;
}

.contact--list > a {
  text-decoration: none;
  background-color: var(--primaryRed);
  color: var(--primaryWhite);
  padding: 5px;
  display: block;
  text-align: center;
  width: 200px;
  margin: 0 auto;
  border-radius: 50px;
}

.contact--container {
  display: flex;
  flex-direction: column;
}

.contact--card {
  display: flex;
  margin-top: 20px;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}

.contact--info {
  margin-right: auto;
}

.contact--info > p {
  margin: 0;
}

.contact--name {
  font-size: 1em;
  font-weight: 600;
}

.contact--email {
  font-size: 0.8em;
  font-weight: 500;
}
